USE [master]
GO
/****** Object:  Database [eShopping]    Script Date: 10/3/2026 4:13:37 AM ******/
CREATE DATABASE [eShopping]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'eShopping', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\eShopping.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'eShopping_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\eShopping_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [eShopping].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [eShopping]
GO
USE [eShopping]
GO
/****** Object:  Sequence [dbo].[SeqSoDon]    Script Date: 10/3/2026 4:13:37 AM ******/
CREATE SEQUENCE [dbo].[SeqSoDon] 
 AS [bigint]
 START WITH 1
 INCREMENT BY 1
 MINVALUE -9223372036854775808
 MAXVALUE 9223372036854775807
 CACHE 
GO
/****** Object:  Table [dbo].[ChiTietDonDat]    Script Date: 10/3/2026 4:13:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietDonDat](
	[SoDon] [varchar](20) NOT NULL,
	[MaSP] [varchar](30) NOT NULL,
	[TenSP] [nvarchar](200) NOT NULL,
	[DonGia] [decimal](18, 2) NOT NULL,
	[SoLuong] [int] NOT NULL,
	[ThanhTien]  AS (CONVERT([decimal](18,2),[SoLuong]*[DonGia])) PERSISTED,
PRIMARY KEY CLUSTERED 
(
	[SoDon] ASC,
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonDatHang]    Script Date: 10/3/2026 4:13:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonDatHang](
	[SoDon] [varchar](20) NOT NULL,
	[MaKhach] [int] NOT NULL,
	[MaLoaiPhieu] [varchar](20) NOT NULL,
	[NgayDat] [datetime] NOT NULL,
	[NguoiNhan] [nvarchar](120) NOT NULL,
	[DiaChiNhan] [nvarchar](250) NOT NULL,
	[DienThoaiNhan] [varchar](20) NOT NULL,
	[MaKhuVuc] [varchar](20) NOT NULL,
	[TienHang] [decimal](18, 2) NOT NULL,
	[PhiGiao] [decimal](18, 2) NOT NULL,
	[PhiThe] [decimal](18, 2) NOT NULL,
	[TongTien]  AS (CONVERT([decimal](18,2),([TienHang]+[PhiGiao])+[PhiThe])) PERSISTED,
	[MaGiaoDich] [int] NOT NULL,
	[TrangThai] [nvarchar](30) NOT NULL,
	[TrangThaiEmail] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SoDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[MaGiaoDich] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GiaoDichThe]    Script Date: 10/3/2026 4:13:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GiaoDichThe](
	[MaGiaoDich] [int] IDENTITY(1,1) NOT NULL,
	[MaKhach] [int] NOT NULL,
	[MaLoaiThe] [varchar](20) NOT NULL,
	[Last4] [char](4) NOT NULL,
	[TenChuThe] [nvarchar](120) NOT NULL,
	[SoTien] [decimal](18, 2) NOT NULL,
	[KetQua] [nvarchar](20) NOT NULL,
	[LyDo] [nvarchar](250) NULL,
	[MaThamChieu] [varchar](60) NULL,
	[ThoiDiem] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaGiaoDich] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 10/3/2026 4:13:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKhach] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](120) NOT NULL,
	[NgaySinh] [date] NOT NULL,
	[SoGiayTo] [varchar](30) NOT NULL,
	[DiaChi] [nvarchar](250) NOT NULL,
	[DienThoai] [varchar](20) NOT NULL,
	[TenDangNhap] [varchar](50) NOT NULL,
	[MatKhauHash] [varchar](100) NOT NULL,
	[Email] [nvarchar](150) NULL,
	[NgayDangKy] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKhach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_KhachHang_SoGiayTo] UNIQUE NONCLUSTERED 
(
	[SoGiayTo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_KhachHang_TenDN] UNIQUE NONCLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhuVucGiao]    Script Date: 10/3/2026 4:13:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhuVucGiao](
	[MaKhuVuc] [varchar](20) NOT NULL,
	[TenKhuVuc] [nvarchar](80) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKhuVuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[TenKhuVuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiPhieuDat]    Script Date: 10/3/2026 4:13:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiPhieuDat](
	[MaLoaiPhieu] [varchar](20) NOT NULL,
	[TenLoaiPhieu] [nvarchar](60) NOT NULL,
	[SoGioXuLy] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoaiPhieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiThe]    Script Date: 10/3/2026 4:13:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiThe](
	[MaLoaiThe] [varchar](20) NOT NULL,
	[TenLoaiThe] [nvarchar](50) NOT NULL,
	[SoChuSoThe] [int] NOT NULL,
	[SoChuSoCSV] [int] NOT NULL,
	[LePhi] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoaiThe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhiGiaoHang]    Script Date: 10/3/2026 4:13:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhiGiaoHang](
	[MaKhuVuc] [varchar](20) NOT NULL,
	[MaLoaiPhieu] [varchar](20) NOT NULL,
	[Phi] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKhuVuc] ASC,
	[MaLoaiPhieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_Don_Khach]    Script Date: 10/3/2026 4:13:37 AM ******/
CREATE NONCLUSTERED INDEX [IX_Don_Khach] ON [dbo].[DonDatHang]
(
	[MaKhach] ASC,
	[NgayDat] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DonDatHang] ADD  DEFAULT (N'Đã ghi nhận') FOR [TrangThai]
GO
ALTER TABLE [dbo].[DonDatHang] ADD  DEFAULT (N'Chưa gửi') FOR [TrangThaiEmail]
GO
ALTER TABLE [dbo].[GiaoDichThe] ADD  DEFAULT (getdate()) FOR [ThoiDiem]
GO
ALTER TABLE [dbo].[KhachHang] ADD  DEFAULT (getdate()) FOR [NgayDangKy]
GO
ALTER TABLE [dbo].[ChiTietDonDat]  WITH CHECK ADD  CONSTRAINT [FK_CTDon_Don] FOREIGN KEY([SoDon])
REFERENCES [dbo].[DonDatHang] ([SoDon])
GO
ALTER TABLE [dbo].[ChiTietDonDat] CHECK CONSTRAINT [FK_CTDon_Don]
GO
ALTER TABLE [dbo].[DonDatHang]  WITH CHECK ADD  CONSTRAINT [FK_Don_GD] FOREIGN KEY([MaGiaoDich])
REFERENCES [dbo].[GiaoDichThe] ([MaGiaoDich])
GO
ALTER TABLE [dbo].[DonDatHang] CHECK CONSTRAINT [FK_Don_GD]
GO
ALTER TABLE [dbo].[DonDatHang]  WITH CHECK ADD  CONSTRAINT [FK_Don_Khach] FOREIGN KEY([MaKhach])
REFERENCES [dbo].[KhachHang] ([MaKhach])
GO
ALTER TABLE [dbo].[DonDatHang] CHECK CONSTRAINT [FK_Don_Khach]
GO
ALTER TABLE [dbo].[DonDatHang]  WITH CHECK ADD  CONSTRAINT [FK_Don_KV] FOREIGN KEY([MaKhuVuc])
REFERENCES [dbo].[KhuVucGiao] ([MaKhuVuc])
GO
ALTER TABLE [dbo].[DonDatHang] CHECK CONSTRAINT [FK_Don_KV]
GO
ALTER TABLE [dbo].[DonDatHang]  WITH CHECK ADD  CONSTRAINT [FK_Don_LP] FOREIGN KEY([MaLoaiPhieu])
REFERENCES [dbo].[LoaiPhieuDat] ([MaLoaiPhieu])
GO
ALTER TABLE [dbo].[DonDatHang] CHECK CONSTRAINT [FK_Don_LP]
GO
ALTER TABLE [dbo].[GiaoDichThe]  WITH CHECK ADD  CONSTRAINT [FK_GDThe_Khach] FOREIGN KEY([MaKhach])
REFERENCES [dbo].[KhachHang] ([MaKhach])
GO
ALTER TABLE [dbo].[GiaoDichThe] CHECK CONSTRAINT [FK_GDThe_Khach]
GO
ALTER TABLE [dbo].[GiaoDichThe]  WITH CHECK ADD  CONSTRAINT [FK_GDThe_Loai] FOREIGN KEY([MaLoaiThe])
REFERENCES [dbo].[LoaiThe] ([MaLoaiThe])
GO
ALTER TABLE [dbo].[GiaoDichThe] CHECK CONSTRAINT [FK_GDThe_Loai]
GO
ALTER TABLE [dbo].[PhiGiaoHang]  WITH CHECK ADD  CONSTRAINT [FK_PhiGH_KV] FOREIGN KEY([MaKhuVuc])
REFERENCES [dbo].[KhuVucGiao] ([MaKhuVuc])
GO
ALTER TABLE [dbo].[PhiGiaoHang] CHECK CONSTRAINT [FK_PhiGH_KV]
GO
ALTER TABLE [dbo].[PhiGiaoHang]  WITH CHECK ADD  CONSTRAINT [FK_PhiGH_LP] FOREIGN KEY([MaLoaiPhieu])
REFERENCES [dbo].[LoaiPhieuDat] ([MaLoaiPhieu])
GO
ALTER TABLE [dbo].[PhiGiaoHang] CHECK CONSTRAINT [FK_PhiGH_LP]
GO
ALTER TABLE [dbo].[ChiTietDonDat]  WITH CHECK ADD CHECK  (([DonGia]>=(0)))
GO
ALTER TABLE [dbo].[ChiTietDonDat]  WITH CHECK ADD CHECK  (([SoLuong]>(0)))
GO
ALTER TABLE [dbo].[DonDatHang]  WITH CHECK ADD CHECK  (([PhiGiao]>=(0)))
GO
ALTER TABLE [dbo].[DonDatHang]  WITH CHECK ADD CHECK  (([PhiThe]>=(0)))
GO
ALTER TABLE [dbo].[DonDatHang]  WITH CHECK ADD CHECK  (([TienHang]>=(0)))
GO
ALTER TABLE [dbo].[DonDatHang]  WITH CHECK ADD  CONSTRAINT [CK_Don_Email] CHECK  (([TrangThaiEmail]=N'Không có email' OR [TrangThaiEmail]=N'Lỗi gửi' OR [TrangThaiEmail]=N'Đã gửi' OR [TrangThaiEmail]=N'Chưa gửi'))
GO
ALTER TABLE [dbo].[DonDatHang] CHECK CONSTRAINT [CK_Don_Email]
GO
ALTER TABLE [dbo].[DonDatHang]  WITH CHECK ADD  CONSTRAINT [CK_Don_TrangThai] CHECK  (([TrangThai]=N'Đã ghi nhận'))
GO
ALTER TABLE [dbo].[DonDatHang] CHECK CONSTRAINT [CK_Don_TrangThai]
GO
ALTER TABLE [dbo].[GiaoDichThe]  WITH CHECK ADD CHECK  (([SoTien]>(0)))
GO
ALTER TABLE [dbo].[GiaoDichThe]  WITH CHECK ADD  CONSTRAINT [CK_GDThe_KetQua] CHECK  (([KetQua]=N'Từ chối' OR [KetQua]=N'Thành công'))
GO
ALTER TABLE [dbo].[GiaoDichThe] CHECK CONSTRAINT [CK_GDThe_KetQua]
GO
ALTER TABLE [dbo].[LoaiPhieuDat]  WITH CHECK ADD CHECK  (([SoGioXuLy]>(0)))
GO
ALTER TABLE [dbo].[LoaiThe]  WITH CHECK ADD CHECK  (([LePhi]>=(0)))
GO
ALTER TABLE [dbo].[LoaiThe]  WITH CHECK ADD CHECK  (([SoChuSoThe]=(16) OR [SoChuSoThe]=(15)))
GO
ALTER TABLE [dbo].[LoaiThe]  WITH CHECK ADD CHECK  (([SoChuSoCSV]=(4) OR [SoChuSoCSV]=(3)))
GO
ALTER TABLE [dbo].[PhiGiaoHang]  WITH CHECK ADD CHECK  (([Phi]>=(0)))
GO
USE [master]
GO
