USE [master]
GO
/****** Object:  Database [QuanLyThuVienDB]    Script Date: 22/09/2026 22:49:51 ******/
CREATE DATABASE [QuanLyThuVienDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyThuVienDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QuanLyThuVienDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLyThuVienDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QuanLyThuVienDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyThuVienDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyThuVienDB]
GO
/****** Object:  Table [dbo].[ChiTietPhieuMuon]    Script Date: 22/09/2026 22:49:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietPhieuMuon](
	[MaChiTiet] [nvarchar](35) NOT NULL,
	[MaPhieuMuon] [nvarchar](30) NOT NULL,
	[MaDauSach] [nvarchar](20) NOT NULL,
	[NgayTraThucTe] [date] NULL,
	[TinhTrangTra] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaChiTiet] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DauSach]    Script Date: 22/09/2026 22:49:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DauSach](
	[MaDauSach] [nvarchar](20) NOT NULL,
	[TenSach] [nvarchar](200) NOT NULL,
	[NamXuatBan] [int] NOT NULL,
	[SoLuongHienCo] [int] NOT NULL,
	[MaTheLoai] [nvarchar](20) NOT NULL,
	[MaNhaXuatBan] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDauSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DocGia]    Script Date: 22/09/2026 22:49:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DocGia](
	[MaDocGia] [nvarchar](20) NOT NULL,
	[Ho] [nvarchar](50) NOT NULL,
	[Ten] [nvarchar](50) NOT NULL,
	[NgaySinh] [date] NOT NULL,
	[Phai] [nvarchar](10) NOT NULL,
	[SoDienThoai] [nvarchar](20) NULL,
	[DiaChi] [nvarchar](250) NOT NULL,
	[Email] [nvarchar](150) NOT NULL,
	[Anh3x4] [nvarchar](260) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDocGia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 22/09/2026 22:49:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNhanVien] [nvarchar](20) NOT NULL,
	[Ho] [nvarchar](50) NOT NULL,
	[Ten] [nvarchar](50) NOT NULL,
	[Phai] [nvarchar](10) NOT NULL,
	[NgaySinh] [date] NOT NULL,
	[ChucVu] [nvarchar](80) NOT NULL,
	[SoDienThoai] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhaXuatBan]    Script Date: 22/09/2026 22:49:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaXuatBan](
	[MaNhaXuatBan] [nvarchar](20) NOT NULL,
	[DiaChi] [nvarchar](250) NULL,
	[SoDienThoai] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNhaXuatBan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuMuon]    Script Date: 22/09/2026 22:49:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuMuon](
	[MaPhieuMuon] [nvarchar](30) NOT NULL,
	[MaDocGia] [nvarchar](20) NOT NULL,
	[MaNhanVien] [nvarchar](20) NOT NULL,
	[NgayMuon] [date] NOT NULL,
	[NgayHenTra] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhieuMuon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuPhat]    Script Date: 22/09/2026 22:49:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuPhat](
	[MaPhieuPhat] [nvarchar](35) NOT NULL,
	[MaChiTiet] [nvarchar](35) NOT NULL,
	[MaNhanVien] [nvarchar](20) NOT NULL,
	[NgayPhat] [date] NOT NULL,
	[LyDo] [nvarchar](250) NOT NULL,
	[PhiPhat] [decimal](18, 0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhieuPhat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TheDocGia]    Script Date: 22/09/2026 22:49:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TheDocGia](
	[MaThe] [nvarchar](30) NOT NULL,
	[MaDocGia] [nvarchar](20) NOT NULL,
	[NgayCap] [date] NOT NULL,
	[HanSuDung] [date] NOT NULL,
	[DaDongLePhi] [bit] NOT NULL,
	[TrangThai] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaThe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TheLoai]    Script Date: 22/09/2026 22:49:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TheLoai](
	[MaTheLoai] [nvarchar](20) NOT NULL,
	[TenTheLoai] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTheLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ChiTietPhieuMuon] ([MaChiTiet], [MaPhieuMuon], [MaDauSach], [NgayTraThucTe], [TinhTrangTra]) VALUES (N'PM20260922194522344_01', N'PM20260922194522344', N'S1', NULL, NULL)
INSERT [dbo].[ChiTietPhieuMuon] ([MaChiTiet], [MaPhieuMuon], [MaDauSach], [NgayTraThucTe], [TinhTrangTra]) VALUES (N'PM20260922194641790_01', N'PM20260922194641790', N'S2', NULL, NULL)
GO
INSERT [dbo].[DauSach] ([MaDauSach], [TenSach], [NamXuatBan], [SoLuongHienCo], [MaTheLoai], [MaNhaXuatBan]) VALUES (N'S1', N'Python khong kho', 2026, 0, N'TL001', N'Kim Dong')
INSERT [dbo].[DauSach] ([MaDauSach], [TenSach], [NamXuatBan], [SoLuongHienCo], [MaTheLoai], [MaNhaXuatBan]) VALUES (N'S2', N'Python beginer', 2026, 9, N'TL001', N'Kim Dong')
GO
INSERT [dbo].[DocGia] ([MaDocGia], [Ho], [Ten], [NgaySinh], [Phai], [SoDienThoai], [DiaChi], [Email], [Anh3x4]) VALUES (N'Sinhvien01', N'Banh', N'Be', CAST(N'2008-09-22' AS Date), N'Nam', N'123456781', N'1 Cong Hoa', N'BanhBe@gmail.com', N'')
INSERT [dbo].[DocGia] ([MaDocGia], [Ho], [Ten], [NgaySinh], [Phai], [SoDienThoai], [DiaChi], [Email], [Anh3x4]) VALUES (N'Sinhvien02', N'Minn', N'Hoo', CAST(N'2008-09-22' AS Date), N'Nam', N'0987654321', N'53Cong Hoa', N'Minho@gmail.com', N'123')
GO
INSERT [dbo].[NhanVien] ([MaNhanVien], [Ho], [Ten], [Phai], [NgaySinh], [ChucVu], [SoDienThoai]) VALUES (N'NV001', N'Mai', N'Dat', N'Nam', CAST(N'2001-09-20' AS Date), N'ThuThu', N'0123456789')
GO
INSERT [dbo].[NhaXuatBan] ([MaNhaXuatBan], [DiaChi], [SoDienThoai]) VALUES (N'Kim Dong', N'123 Cong Hoa', N'123456789')
GO
INSERT [dbo].[PhieuMuon] ([MaPhieuMuon], [MaDocGia], [MaNhanVien], [NgayMuon], [NgayHenTra]) VALUES (N'PM20260922194522344', N'Sinhvien02', N'NV001', CAST(N'2026-09-22' AS Date), CAST(N'2026-09-22' AS Date))
INSERT [dbo].[PhieuMuon] ([MaPhieuMuon], [MaDocGia], [MaNhanVien], [NgayMuon], [NgayHenTra]) VALUES (N'PM20260922194641790', N'Sinhvien01', N'NV001', CAST(N'2026-09-16' AS Date), CAST(N'2026-09-21' AS Date))
GO
INSERT [dbo].[TheDocGia] ([MaThe], [MaDocGia], [NgayCap], [HanSuDung], [DaDongLePhi], [TrangThai]) VALUES (N'TH22194457', N'Sinhvien02', CAST(N'2026-09-22' AS Date), CAST(N'2027-09-22' AS Date), 1, 1)
INSERT [dbo].[TheDocGia] ([MaThe], [MaDocGia], [NgayCap], [HanSuDung], [DaDongLePhi], [TrangThai]) VALUES (N'TH22194507', N'Sinhvien01', CAST(N'2026-09-22' AS Date), CAST(N'2027-09-22' AS Date), 1, 1)
GO
INSERT [dbo].[TheLoai] ([MaTheLoai], [TenTheLoai]) VALUES (N'TL001', N'Tunhien')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_CTPM_Phieu_DauSach]    Script Date: 22/09/2026 22:49:51 ******/
ALTER TABLE [dbo].[ChiTietPhieuMuon] ADD  CONSTRAINT [UQ_CTPM_Phieu_DauSach] UNIQUE NONCLUSTERED 
(
	[MaPhieuMuon] ASC,
	[MaDauSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_TheDocGia_MotTheHoatDong]    Script Date: 22/09/2026 22:49:51 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_TheDocGia_MotTheHoatDong] ON [dbo].[TheDocGia]
(
	[MaDocGia] ASC
)
WHERE ([TrangThai]=(1))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__TheLoai__327F958FB751828E]    Script Date: 22/09/2026 22:49:51 ******/
ALTER TABLE [dbo].[TheLoai] ADD UNIQUE NONCLUSTERED 
(
	[TenTheLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TheDocGia] ADD  CONSTRAINT [DF_TheDocGia_TrangThai]  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[ChiTietPhieuMuon]  WITH CHECK ADD  CONSTRAINT [FK_CTPM_DauSach] FOREIGN KEY([MaDauSach])
REFERENCES [dbo].[DauSach] ([MaDauSach])
GO
ALTER TABLE [dbo].[ChiTietPhieuMuon] CHECK CONSTRAINT [FK_CTPM_DauSach]
GO
ALTER TABLE [dbo].[ChiTietPhieuMuon]  WITH CHECK ADD  CONSTRAINT [FK_CTPM_PhieuMuon] FOREIGN KEY([MaPhieuMuon])
REFERENCES [dbo].[PhieuMuon] ([MaPhieuMuon])
GO
ALTER TABLE [dbo].[ChiTietPhieuMuon] CHECK CONSTRAINT [FK_CTPM_PhieuMuon]
GO
ALTER TABLE [dbo].[DauSach]  WITH CHECK ADD  CONSTRAINT [FK_DauSach_NXB] FOREIGN KEY([MaNhaXuatBan])
REFERENCES [dbo].[NhaXuatBan] ([MaNhaXuatBan])
GO
ALTER TABLE [dbo].[DauSach] CHECK CONSTRAINT [FK_DauSach_NXB]
GO
ALTER TABLE [dbo].[DauSach]  WITH CHECK ADD  CONSTRAINT [FK_DauSach_TheLoai] FOREIGN KEY([MaTheLoai])
REFERENCES [dbo].[TheLoai] ([MaTheLoai])
GO
ALTER TABLE [dbo].[DauSach] CHECK CONSTRAINT [FK_DauSach_TheLoai]
GO
ALTER TABLE [dbo].[PhieuMuon]  WITH CHECK ADD  CONSTRAINT [FK_PhieuMuon_DocGia] FOREIGN KEY([MaDocGia])
REFERENCES [dbo].[DocGia] ([MaDocGia])
GO
ALTER TABLE [dbo].[PhieuMuon] CHECK CONSTRAINT [FK_PhieuMuon_DocGia]
GO
ALTER TABLE [dbo].[PhieuMuon]  WITH CHECK ADD  CONSTRAINT [FK_PhieuMuon_NhanVien] FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[NhanVien] ([MaNhanVien])
GO
ALTER TABLE [dbo].[PhieuMuon] CHECK CONSTRAINT [FK_PhieuMuon_NhanVien]
GO
ALTER TABLE [dbo].[PhieuPhat]  WITH CHECK ADD  CONSTRAINT [FK_PhieuPhat_CTPM] FOREIGN KEY([MaChiTiet])
REFERENCES [dbo].[ChiTietPhieuMuon] ([MaChiTiet])
GO
ALTER TABLE [dbo].[PhieuPhat] CHECK CONSTRAINT [FK_PhieuPhat_CTPM]
GO
ALTER TABLE [dbo].[PhieuPhat]  WITH CHECK ADD  CONSTRAINT [FK_PhieuPhat_NhanVien] FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[NhanVien] ([MaNhanVien])
GO
ALTER TABLE [dbo].[PhieuPhat] CHECK CONSTRAINT [FK_PhieuPhat_NhanVien]
GO
ALTER TABLE [dbo].[TheDocGia]  WITH CHECK ADD  CONSTRAINT [FK_TheDocGia_DocGia] FOREIGN KEY([MaDocGia])
REFERENCES [dbo].[DocGia] ([MaDocGia])
GO
ALTER TABLE [dbo].[TheDocGia] CHECK CONSTRAINT [FK_TheDocGia_DocGia]
GO
ALTER TABLE [dbo].[DauSach]  WITH CHECK ADD  CONSTRAINT [CK_DauSach_SoLuong] CHECK  (([SoLuongHienCo]>=(0)))
GO
ALTER TABLE [dbo].[DauSach] CHECK CONSTRAINT [CK_DauSach_SoLuong]
GO
ALTER TABLE [dbo].[PhieuMuon]  WITH CHECK ADD  CONSTRAINT [CK_PhieuMuon_Ngay] CHECK  (([NgayHenTra]>=[NgayMuon]))
GO
ALTER TABLE [dbo].[PhieuMuon] CHECK CONSTRAINT [CK_PhieuMuon_Ngay]
GO
ALTER TABLE [dbo].[PhieuPhat]  WITH CHECK ADD  CONSTRAINT [CK_PhieuPhat_Phi] CHECK  (([PhiPhat]>=(0)))
GO
ALTER TABLE [dbo].[PhieuPhat] CHECK CONSTRAINT [CK_PhieuPhat_Phi]
GO
ALTER TABLE [dbo].[TheDocGia]  WITH CHECK ADD  CONSTRAINT [CK_TheDocGia_Han] CHECK  (([HanSuDung]>=[NgayCap]))
GO
ALTER TABLE [dbo].[TheDocGia] CHECK CONSTRAINT [CK_TheDocGia_Han]
GO
USE [master]
GO
